body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagen/prueba.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.icono-perfil {
    text-decoration: none;
}

.icono-perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.icono-perfil img:hover {
    transform: scale(1.1);
}

.nombre-perfil {
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cambié a 3 columnas para mostrar 6 productos */
    grid-gap: 20px;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn-sesion {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sesion:hover {
    background-color: #0056b3;
}

.registro-container {
    display: none; /* Oculta el contenedor de registro al principio */
}

